.first-yaml, .second-yaml{
    font-weight: 800;
    font-size: 16px;
}
.first-yaml{
    color: red;
}
.second-yaml{
    color: #00a800;
}
.comment-yaml{
    color: #3d3d3d;
}
ul li a figure figcaption p{
    text-align: justify;
}

.justify{
    text-align: justify;
}
hr{
    margin-top: 10px;
}
.toc{
    margin-top: -22px;
}
.title{
    margin-top: -50px;
}
.compose-example{
    width: 50%;
    margin: 0 auto;
}