.first-yaml, .second-yaml{
    font-weight: 800;
    font-size: 16px;
}
.first-yaml{
    color: #d32f2f;
}
.second-yaml{
    color: #388e3c;
}
.comment-yaml{
    color: #3d3d3d;
}
ul li a figure figcaption p{
    text-align: justify;
}

.justify{
    text-align: justify;
}
hr{
    margin-top: 10px;
}
.toc{
    margin-top: -22px;
}
#indice{
    margin-top: -50px
}
.title{
    margin-top: -30px;
    margin-bottom: 20px;
}
.compose-example{
    width: 500px;
    margin: 0 auto;
}
/*---------------------------------*/
.gist-data{
    height:600px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

  body .gist .gist-file {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
  }
  
  body .gist .blob-wrapper {
    border-radius: 0;
  }
  
  body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
  }
  
  body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
    border: none;
  }  
  body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
  }
  
  body .gist .gist-meta {
    display: none;
  }
  .gist .pl-ent{
    color: #d32f2f !important;
    font-weight: 800; 
  }
  .gist .pl-s,.pl-pds{
    color: #388e3c !important; 
    font-weight: 800;  
  }
  .terminal{
      width: auto;
      margin: 0 auto;
      background-color: black;
      border-radius: 0.2em;
      color: white;
  }
  .user{
      color: #03fc17;
  }
  .folder{
      color: #3464f7;
  }